.cover__subtitle {
    width: 30.40%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1160px) {
    .cover__subtitle {
        width: 35.15625%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46.875%;
    }
}

@media screen and (max-width: 690px) {
    .cover__subtitle {
        width: 56%;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 490px) {
    .cover__subtitle {
        width: 84%;
        font-size: 10px;
        line-height: 14px;
    }
}