.header__logo {
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 490px) {
    .header__logo {
        width: 47.5%;
        height: 42px;
    }
}

@keyframes translation-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5px);
    }
}

@keyframes translation-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-5px);
    }
}

#map {
    animation: translation-right 2s ease-in-out infinite alternate;
}

#text {
    animation: translation-left 2s ease-in-out infinite alternate;
}