.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 75.1%;
    margin: 0 auto;
}

@media screen and (max-width: 1180px) {
    .lead__title {
        width: 87%;
    }
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 77.54%;
    }
}

@media screen and (max-width: 960px) {
    .lead__title {
        width: 90%;
    }
}

@media screen and (max-width: 840px) {
    .lead__title {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 95.75%;
    }
}

@media screen and (max-width: 710px) {
    .lead__title {
        width: 83%;
        font-size: 70px;
        line-height: 74px;
    }
}

@media screen and (max-width: 620px) {
    .lead__title {
        width: 54%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 520px) {
    .lead__title {
        width: 65%;
    }
}

@media screen and (max-width: 490px) {
    .lead__title {
        width: 92%;
    }
}