.place__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.place__paragraph:first-of-type {
    margin-bottom: 4.96%;
}

@media screen and (max-width: 1024px) {
    .place__paragraph:first-of-type {
        margin-bottom: 5.92%;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .place__paragraph:first-of-type {
        margin-bottom: 7.143%;
    }
}

@media screen and (max-width: 490px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 90%;
        margin: 0 auto;
    }

    .place__paragraph:first-of-type {
        margin-bottom: 7.8125%;
    }
}