.intro {
    margin-top: 7.77%;
    margin-bottom: 7.77%;
    margin-left: 8.446%;
    max-width: 58.21%;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-top: 9.93%;
        margin-bottom: 9.93%;
        margin-left: 0;
        max-width: 74.5%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 12.3%;
        margin-bottom: 12.3%;
        margin-left: 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 490px) {
    .intro {
        margin-top: 22.5%;
        margin-bottom: 22.5%;
    }
}