.intro {
    margin-top: 7.1875%;
    margin-bottom: 7.1875%;
    margin-left: 11.5625%;
    max-width: 53.90625%;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-top: 8.984375%;
        margin-bottom: 8.984375%;
        margin-left: 4.6875%;
        max-width: 67.3828125%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75%;
        margin: 11.458% auto;
    }
}

@media screen and (max-width: 490px) {
    .intro {
        margin-top: 20%;
        margin-bottom: 20%;
        max-width: 90%;
    }
}