.header__lang-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 78px;
}

@media screen and (max-width: 490px) {
    .header__lang-list {
        max-width: 62px;
    }
}