.header__lang-list-item {
    opacity: 1;
    transition: opacity 0.1s linear;
    text-decoration: none
}

.header__lang-list-item:first-of-type {
    margin-right: 18px;
}

.header__lang-list-item:hover {
    opacity: 0.8;
}
