.cover__overlay {
    width: 100%;
    min-height: 740px;
    position: relative;
    padding-top: 20.75%;
    box-sizing: border-box;
}

.cover__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.1s linear;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        padding-top: 19.04%;
        min-height: 640px;
    }
}

@media screen and (max-width: 817px) {
    .cover__overlay {
        padding-top: 21%;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        padding-top: 14.97%;
        min-height: 480px;
    }
}

@media screen and (max-width: 690px) {
    .cover__overlay {
        padding-top: 19%;
    }
}

@media screen and (max-width: 490px) {
    .cover__overlay {
        padding-top: 14.97%;
        min-height: 200px;
    }
}