.place {
    margin-bottom: 8.13%;
    width: 100%;
    display: grid;
    grid-template-columns: 46.74% fit-content(49.18%);
    grid-template-rows: auto;
    column-gap: 4.065%;
    row-gap: 48px;
}

.place:last-of-type {
    margin-bottom: 0;
    
}

@media screen and (max-width: 1024px) {
    .place {
        margin-bottom: 8.62%;
        grid-template-columns: 47.41% fit-content(49.14%);
        column-gap: 3.45%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 10.15%;
        grid-template-columns: 48.5% fit-content(49.44%);
        column-gap: 3.89%;
    }
}

@media screen and (max-width: 490px) {
    .place {
        display: block;
        margin-bottom: 15.3125%;
    }
}